* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
    background: rgb(50, 161, 50);
    border-radius: 25px;
    padding: 15px;
    border: 1px solid #5102ac;
    color: white;
    cursor: pointer;
    margin: 30px;
}